DATABASE_URL=YOUR_DATABASE_URL
REDIS_URL=YOUR_REDIS_URL

GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL=CALL_BACK_URL

JWT_SECRET=your-super-secret-jwt-key-min-32-chars
JWT_REFRESH_SECRET=your-super-secret-refresh-key-min-32-chars

GEMINI_API_KEY=your-gemini-api-key

CLIENT_URL=http://localhost:5173
PORT=5000
NODE_ENV=development
